---
title: '<%= hash['title'] %>'
date: '<%= hash['date'] %>'
tags:
- ripley
---

<table>
  <tr>
    <th>Rank</th>
    <th>Language</th>
    <th>Subscribers</th>
    <th>% Share</th>
    <th>Change vs<br/><%= hash['comparison_date'] %></th>
  </tr>
  <% hash['data'].first(20).each do |language| -%>
  <tr>
      <td><%= language['index'] %></td>
      <td><a href="<%= language['url'] %>"><%= language['name'] %></a></td>
      <td><%= language['subsstring'] %></td>
      <td><%= language['percentage'] %></td>
      <td><%= language['delta'] %></td>
    </tr>
  <% end -%>
</table>
<p>Outside of the top 20:<% hash['data'].slice(20..(hash['data'].length)).each_with_index do |language, index| -%>
 <a href="<%= language['url'] %>"><%= language['name'] %></a> (<%=  language['subsstring'] -%>)<% if index < (hash['data'].length - 21) %>,<% end -%>
<% end -%></p>
<p>Pages scraped: <%= hash['dateScraped'] -%></p>
